
# Enabling the rewriting engine:
RewriteEngine On

# Setting the base URL for the project:
RewriteBase /Doacao-de-Sangue/

# Redirect all requests to index.php except for existing files or directories:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]