/*Página inicial*/
body {
  /*o body para todas as paginas*/
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*menu*/
.custom-navbar{
  background-color: #f5eded;
  color: rgba(243, 237, 237, 0.897);
}

.nav-item:hover{
  background-color: #eee8e8;
}

#cont-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}

#titulo-index{
  text-align: center;
}
.div-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-image img{
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*página: Perguntas frequentes*/

.conteudo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}


/* página: Cadastro*/

.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}


/* página: Login*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}

.footer{
  background-color: #242222;
  text-align: center;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  
  
}

