/*Página inicial*/


body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*menu*/

.nav-item:hover{
  background-color: rgba(240, 63, 63, 0.918);
}

#cont-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}

#titulo-index{
  text-align: center;
}
.div-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-image img{
  margin: auto;
  max-width: 100%;
  height: auto;
}



/* página: Cadastro*/

#cadastro{
  background-color: rgba(231, 235, 238, 0.473);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  width: auto;
  height: auto;
 
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

#botao-cadastro a {
  text-decoration: none;
  color: white;
}


/* página: Login*/

#login{
  background-color: rgba(231, 235, 238, 0.473);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.wrapper-login {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 400px;
}

.footer{
  background-color: #242222;
  text-align: center;
  color: white;
  padding: 20px;
  
}
.footer a{
  text-decoration: none;
  color: white;
}



.footer-login a {
  text-decoration: none;
  color: white;
}

/*.footer-cadastro {
  background-color: #242222;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
  max-height: 110px;
  margin-top: 10px;
  position: fixed;
  
}

.footer-cadastro a {
  text-decoration: none;
  color: white;
}
*/



