/*Página inicial*/
body {
  /*o body para todas as paginas*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.menu {
  /*o mesmo menu que esta presente em todas as paginas*/
  background-color: #e21717;
  color: white;
  /*container flexivel*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /*espaço entre conteudo e bordas do proprio elemento*/
  padding: 10px;
}

.menu li {
  display: inline-block;
  /*distancia entre os itens do menu*/
  margin-right: 33px;
  color: white;
  padding: 5px;
  text-decoration: none;
}

.conteudo1 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 30px;
  flex: 1;
}

#imagemInicial {
  max-width: 100%;
  height: auto;
}

.rodape1 {
  background-color: #e21717;
  text-align: center;
  flex-shrink: 0;
}

.rodape1 p{
  color: white;
}

/* página: Quem Somos*/

.conteudo2 h1 {
  text-align: center;

}

.conteudo2 section {
  text-align: center;
  padding: 15px;
  width: 900px;
  margin: auto;
}

.conteudo2 p {
  text-align: justify;
}

/* página: Contato*/
.conteudo3 h1 {
  text-align: center;
}

.conteudo3 section {
  text-align: center;
  padding: 15px;
  width: 900px;
  margin: auto;
}

.conteudo3 p {
  text-align: center;
}

/*página: Perguntas frequentes*/

.conteudo4 h1 {
  text-align: center;
}

.conteudo4 section {
  padding: 9px;
  width: 900px;
  margin: auto;

}

.conteudo4 p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* página: Cadastro*/

.cadastro h1 {
  text-align: center;
}

.cadastro section {
  text-align: center;
  padding: 15px;
  width: 900px;
  margin: auto;
}

/* página: Login*/
.login h1 {
  text-align: center;
}

.login section {
  text-align: center;
  padding: 15px;
  width: 900px;
  margin: auto;
}