body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5rem;
}

.header {
    height: 40vh;

    color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-blood {
    background-color: #D40000;
    color: #ffffff;

    text-transform: uppercase;
}

.card-info__icon {
    display: flex;
    margin: 20px auto;
    width: 50px;
    height: auto;
}

footer {
    margin-top: auto;
    height: 5vh;
    display: flex;

    background-color: #4d4d4d;
    color: #ffffff;

    font-size: 18px;
}

footer > * {
    margin: auto;
}

/* AUTH */
.login__bg {
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.auth__form-box {
    max-width: 500px;
    margin: auto;
}