.perfil-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.div-foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.historico-doacoes {
    margin-bottom: 4rem;
}

.conteudo-oculto {
    display: none;
}

#pesquisarCheckbox:checked ~ .conteudo-oculto {
    display: block;
}